* {
    margin: 0;
}
body {
    background-color: #dadae2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Noto Serif Oriya", serif;
}
section {
    background-color: #eff0f2;
    border-radius: 30px;
    padding: 100px;
    position: relative;
}
h1 {
    font-size: 70px;
    padding-bottom: 30px;
    color: #09062e;
}
.cars {
    display: flex;
    gap: 100px;
}
button {
    font-size: 30px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    color: #09062e;
    margin-bottom: 80px;
}
.min {
    display: flex;
    gap: 20px;
}

.bfm {
    width: 640px;
    height: 440px;
    border-radius: 30px;
    margin-bottom:20px ;
}
.mfb {
    width: 200px;
    height: 160px;
    border-radius: 30px;
    margin-bottom: 40px;
}
.big {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;
}
h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
} 
.mmm {
    width: 60px;
    height: 60px;
}
.fot {
    display: flex;
    align-items: center;
    position: relative;
}
.j {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}
.o {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #e6e7ef;
    position: absolute;
    right: 400px;
    bottom: 1000px;
    z-index: -1;
}
.i {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #e6e7ef;
    position: absolute;
    left: 400px;
    bottom: -350px;
    z-index: -1;
}